.card {
  &.disabled {
    background-color: rgba(#ccc, .1) !important;

    &:hover {
      .content {
        &.extra {
          opacity: 1;
        }
      }
    }

    .content {
      opacity: .5;
      transition: opacity .3s ease !important;
    }
  }
}
