.dropdown {
  &.search,
  &.selection {
    > .text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }
  }

  //&.multiple {
  //  .label {
  //    overflow: hidden;
  //    width: 100%;
  //    white-space: nowrap !important;
  //    text-overflow: ellipsis;
  //  }
  //}
}
