@import 'base';
@import 'semantic/semantic';
@import 'components/components';

html {
  box-sizing: border-box;
  min-width: 1024px;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #fafafa;

  a {
    color: rgba(0, 0, 0, .87);

    &:link,
    &:hover {
      color: rgba(0, 0, 0, .87);
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body.blurring {
  #root {
    padding: 0;
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 90px 0 0 0;

  &.blurring {
    padding: 0;
  }
}

.react-datepicker-wrapper {
  display: flex;
}

.react-datepicker {
  &__input-container {
    display: flex;
    flex: 1;
  }
}
