@import 'base';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding: 90px 0 40px 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
