@import 'base';
@import 'components/components';

html {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  padding: 90px 0 40px 0;
  background-color: #fafafa;

  &.dimmable {
    padding: 0;
  }

  a {
    color: rgba(0, 0, 0, .87);

    &:link,
    &:hover {
      color: rgba(0, 0, 0, .87);
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.react-datepicker-wrapper {
  display: flex;
}

.react-datepicker {
  &__input-container {
    display: flex;
    flex: 1;
  }
}
